---
apiVersion: v1
kind: Namespace
metadata:
  name: {{.NAMESPACE}}
  labels:
    app.kubernetes.io/name: {{.APP_NAME}}
    app.kubernetes.io/instance: {{.NAMESPACE}}
    app.kubernetes.io/managed-by: gitops-automation
    tier: {{.TIER}}
    domain: {{.DOMAIN}}